* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --color-primary: #ffffff;
    --color-secondary: #333333;
    --color-accent: #c6a288;
    --font-primary: 'Libre Baskerville', serif; 
}

body {
    
    padding: 0px;
    margin: 0px;

}

