* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.header {
    background-color: rgba(8, 4, 4, 0.76);
    padding: 20px 0;
    text-align: center;
    
}

.header nav ul {
    list-style-type: none;

    & li {
        display: inline;
    margin: 0 10px;
    }
    
}



.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
        outline: solid 2px #fff;
    }
}
