* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --color-primary: #ffffff;
    --color-secondary: #333333;
    --color-accent: #c6a288;
    --font-primary: 'Libre Baskerville', serif; 
}

body {
    
    padding: 0px;
    margin: 0px;

}

.header-page {
    padding: 20px;
    text-align: center;
    
    & h1, h2 {
        font-family: 'Libre Baskerville', serif;
       


    }
}

h1 {
    padding-left: 10px;
}



.header-page a {
    color: #9c9696;
    text-decoration: none;
    margin: 0 10px;
}

.section-divider {
    margin: 20px 0;
    border-top: 2px solid #000000;
}


/* <--------------- Card Static Designs ------------------> */

.card1 {
    position: relative;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card1 .imgBx {
    position: relative;
    width: 60%; /* Adjusted width to 60% */
    height: 70%; /* Adjust the height as needed */
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Auto margin on left */
    margin-right: auto; /* Auto margin on right */
    border-radius: 15px;
    background: url(https://i.pinimg.com/564x/fe/f6/15/fef61538f35829a7b3a5b2ff5d962a0b.jpg);
    background-size: cover;


}

.card1 .content {
    position: relative;
    width: 60%;
    height: 50%;
    background: #232949;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.price {
    
    position: absolute;
    bottom: 163px; /* Adjust top position */
    right: 45%; /* Adjust left position */
    height: 80px;
    width: 35%;
    background: #232949;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 8px solid #fff; 
    border-right: 8px solid #fff;
    border-top-right-radius: 25px;
    padding: 20px 15px;


    &:after {
        content:'';
        position: absolute;
        bottom: 0;
      
        height: 25px;
        width: 25px;
        background: transparent;
        border-radius: 50%;
        right:-23px;
        bottom: -1px;
        box-shadow: -10px 10px 0 #232949;

    }
}

.imgBx::before {
    content:'';
        position:absolute;
        bottom: 69px;
        right: 97%;
        width: 20px;
        height: 20px;
        background: transparent;
        z-index: 5;
        border-radius: 50%;
        box-shadow: -6px 7px 0 #fff;
        

}

.imgBx::after {
    content:'';
        position:absolute;
        bottom: 1px;
        right: 175px;
        width: 20px;
        height: 20px;
        background: transparent;
        z-index: 5;
        border-radius: 50%;
        box-shadow: -6px 7px 0 #fff;

}

.price a {
    position: relative;
    background:#ffffff;
    top: -5px;
    right: 2px;
    padding: 10px 30%;
    color:#000000;
    text-decoration: none;
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 500;
    
    
}

.content p {
    color:#fff;
    text-align: start;
    margin: 25px
    
}


/* <-------- Design 2 ----------> */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card2 {
        position: relative;
        width: 50dvh;
        height: 60dvh;
        background-color: rgb(33, 12, 110);
        border-radius: 20px;
        border-top-left-radius: 80px;
    }
    
    .box {
        position: absolute;
        inset: 22px;
        background:#282828;
        border-radius: 10px;
    }

    .icon {
        position: absolute;
        width: 160px;
        height: 150px;
        background-color:rgb(33, 12, 110);
        border-bottom-right-radius: 50%;
       
    }


}


.icon .iconBox {
    position: absolute;
    inset: 10px;
    background: #282828;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.iconBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content2 {
    position: absolute;
    padding: 20px;
    color: #c7c7c7;
    top:140px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;

    & h3 {
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding-bottom: 20px;
        
    }
}


/* <-------- Design 3 -------> */

.container3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card3 {
        position: relative;
        width: 60dvh;
        height: 60dvh;
        background: #205329;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0,0,0.15); 
        transition: 0.5s;
        
    }

    .imageBox3 {
        position:absolute;
        width: 25dvw;
        height: 45dvh;
        background: #333;
        border-radius: 12px;
        top: 25px;
        right: 8%;
        transition: 0.5s;
        
    }
}



.imageBox3 img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}



.content3 {
    position: absolute;
    width: 100%;
    padding: 10px 50px;
    text-align: center;
    top: 85%;
    font-size: 1.5rem;
    height:50px;
    overflow: hidden;
    
    
}

.content3 h2 {
    color: #c5b451; 
    font-size: 2rem; 
    margin: 0; 
    font-family:'Libre Baskerville',serif ;
    letter-spacing: 2px;
}

/* <----------- Design 4 ----------------> */


.card4-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card4 {
    width: 325px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0.15);
    margin: 20px;
}

.card4 .ahri {
    width: 100%;
    height: 200px;
    background-size: cover;
    justify-content: center;

}

.card4-content {
    padding: 15px;

    .button4 {
        display: inline-block;
        padding: 8px 16px;
        background-color: #333;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 16px;
        color: #fff;
    }
}

.card4-content h3{
    font-size: 28px;
    margin-bottom: 7px;
    font-family: 'Poppins',serif;
    margin-left: 10px;

}

.card4-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    margin-left: 5px;
}


/* <--------------- Design 5 --------------------> */

.slide-container {
    margin: auto;
    width: 600px;
    text-align: center;
  }
  
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .clash-card-barbarian {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
  }
  
  .clash-card__image {
    position: relative;
    justify-content: center;
    height: 230px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; /* Ensures image corners are rounded */
  }
  
  .clash-card__image img {
    width: auto;
    height: 100%;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  
  .clash-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .clash-card__unit-description {
    padding: 0 20px;
    margin-bottom: 10px;
    color: #666;
    line-height: 1.4;
  }
  
  .clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #a16d42;
    overflow: hidden; /* Ensures rounded corners */
  }
  
  .clash-card__unit-stats .one-third {
    width: 33.33%;
    float: left;
    padding: 20px 15px;
    box-sizing: border-box; /* Ensures padding is included in width */
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2); /* Adjust as needed */
  }
  
  .clash-card__unit-stats .one-third:last-child {
    border-right: none; /* Removes border from last item */
  }
  
  .clash-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }
  
  .clash-card__unit-stats .stat {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .clash-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .slick-prev {
    left: 100px;
    z-index: 999;
  }
  
  .slick-next {
    right: 100px;
    z-index: 999;
  }
  





















